.login-wrap {
  background-position: left center;
  flex: 1;
  div[data-slot="input-wrapper"]{
    background-color: transparent;
    box-shadow: none;
    padding: 0 22px;
    height: 100%;
    min-height: 60px;
    &[data-focus="true"]{
      background-color: transparent;
    }
  }
  input {
    font-size: 22px;
    line-height: 1.25;
    border-radius: 0;
  }
  .ant-btn-link{
    text-decoration: underline;
  }
  :where(.css-dev-only-do-not-override-m4timi).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
    background: #773E15;
    color: #fff;
  }
}