.login-wrap {
  background-position: left center;
  flex: 1;
  div[data-slot="input-wrapper"]{
    background-color: transparent;
    box-shadow: none;
    padding: 0 22px;
    height: 100%;
    min-height: 60px;
    &[data-focus="true"]{
      background-color: transparent;
    }
  }
  input {
    font-size: 30px;
    line-height: 1.25;
  }
}